 /* All elements */
 * {
  font-family: 'Goudy Bookletter 1911', serif;
  letter-spacing: 2px;
 }

 .main-title {
   color: #bdadad;
 }

 .icon-block #final-paragraph {
  font-weight: bold;
  text-align: center;
 }

 .icon-block p {
   font-size: larger;
 }

 .about-icon {
   text-align: center;
   color: #722F37;
 }

 .about-title {
   text-align: center;
   color: #a27840;
 }

 .page-footer {
   background-color: #00001a;
 }

 .headers {
  color: #a27840;
 }

 .nav-bg-color {
   background-color: white;
 }

 .work-links {
   color: white;
 }

 .fa {
   font-size: 1.7rem;
   padding: 5px;
 }

 .social-icons {
   display: inline;
 }

footer i:hover {
   color: #a27840;
 }

footer a:hover {
   color: #a27840;
 }

 /* Custom CSS Parallax Template */
 nav ul a,
 nav .brand-logo {
   color: #00001a;
 }

 /* Custom CSS Parallax Template */
 p {
   line-height: 2rem;
 }

 /* Custom CSS Parallax Template */
 .sidenav-trigger {
   color: #00001a;
 }

 /* Custom CSS Parallax Template */
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255, 255, 255, .9);
 }

 /* Custom CSS Parallax Template */
 .parallax-container .section {
   width: 100%;
 }

 /* Custom CSS media queries Parallax Template */
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }

   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 /* Custom CSS Parallax Template */
 .icon-block {
   padding: 0 15px;
 }

 /* Custom CSS Parallax Template */
 .icon-block .material-icons {
   font-size: inherit;
 }

 /* Custom CSS Parallax Template */
 footer.page-footer {
   margin: 0;
 }

 .img {
   opacity: 0.2;
}

