<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read|Review</title>
  <!-- Google Fonts  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet"
    media="screen,projection" />
  {% block style %}
  {% endblock %}
</head>

<body>
  <nav class="nav-bg-color grey lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ url_for('get_home') }}" class="brand-logo">Read|Review</a>
      <!-- Top Navbar -->
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('get_home') }}">Home</a></li>
        <li><a href="{{ url_for('get_catalogue') }}">Catalogue</a></li>
        {% if session.user %}
        <li><a href="{{ url_for('get_profile') }}">Profile</a></li>
        <li><a href="{{ url_for('submit_book') }}">Submit Book</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>

      <!-- Mobile Navbar -->
      <ul id="nav-mobile" class="sidenav">
        <li>
          <h4 class="center-align headers">Read|Review</h4>
        </li>
        <li><a href="{{ url_for('get_home') }}">Home</a></li>
        {% if session.user %}
        <li><a href="{{ url_for('get_profile') }}">Profile</a></li>
        <li><a href="#">Catalogue</a></li>
        <li><a href="#">Add Book</a></li>
        <li><a href="#">Manage Catalogue</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="headers">Mission</h5>
          <p class="white-text">We are team of passionate readers who want to help our fellow readers around the world
            discover great works.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="headers">Work With Us</h5>
          <ul>
            <li><a class="work-links" href="#!">Authors</a></li>
            <li><a class="work-links" href="#!">Advertise</a></li>
            <li><a class="work-links" href="#!">Careers</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="headers">Connect</h5>
          <ul>
            <li class="social-icons"><a class="white-text" href="https://www.facebook.com/" target="_blank"><i
                  class="fa fa-facebook"><span class="sr-only">Facebook</span></i></a></li>
            <li class="social-icons"><a class="white-text" href="https://twitter.com/" target="_blank"><i
                  class="fa fa-twitter"><span class="sr-only">Twitter</span></i></a></li>
            <li class="social-icons"><a class="white-text" href="https://www.instagram.com/" target="_blank"><i
                  class="fa fa-instagram"><span class="sr-only">Instagram</span></i></a></li>
            <li class="social-icons"><a class="white-text" href="https://linkedin.com/" target="_blank"><i
                  class="fa fa-linkedin"><span class="sr-only">Linkedin</span></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com"> © Seamus Mac Grianna</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/87798f37e6.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}

</body>

</html>
