{% extends "base.html" %}
{% block content %}

<!-- Submit Book Form -->
<section class="book-form">
  <form name="submit_book">
    <div class="form-container">
      <div class="row">
        <div class="col s12 m8 l4 offset-m2 offset-l4">
          <div class="card">
            <div class="card-action white-text">
              <h3 class="center">Submit Book</h3>
            </div>
            <div class="card-content grey lighten-2">
              <div class="input-field">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" minlength="4" maxlength="100" class="validate" required>
                <span class="helper-text" data-error="Book must be between 2 and 100 characters"></span>
              </div><br>

              <div class="input-field">
                <label for="author">Author</label>
                <input type="text" id="author" name="author" minlength="2" maxlength="50" class="validate" required>
                <span class="helper-text" data-error="Author must be between 2 and 50 characters"></span>
              </div><br>

              <div class="input-field">
                <label for="genre">Genre</label>
                <input type="text" id="genre" name="genre" minlength="2" maxlength="50" class="validate" required>
                <span class="helper-text" data-error="Genre must be between 2 and 50 characters"></span>
              </div><br>

              <div class="row">
                <div class="input-field col s6">
                  <label for="year">Year</label>
                  <input type="number" id="year" name="year" minlength="4" maxlength="4" class="validate" required>
                  <span class="helper-text" data-error="Enter 4 digit year of publication"></span>
                </div>

                <div class="input-field col s6">
                  <label for="pages">Pages</label>
                  <input type="number" id="pages" name="pages" min="1" max="2000" class="validate" required>
                  <span class="helper-text" data-error="Max 2000 page books"></span>
                </div>
              </div>

              <div class="input-field">
                <label for="cover">Book Cover</label>
                <input type="text" id="cover" name="cover" minlength="4" maxlength="200" class="validate" required>
                <span class="helper-text" data-error="Enter URL of image (Project Gutenberg recommended)"></span>
              </div><br>

              <div class="input-field">
                <label for="summary">Summary</label>
                <textarea type="text" id="summary" name="summary" minlength="10" maxlength="250"
                  class="materialize-textarea validate" required></textarea>
              </div>


              <p class="error error--hidden"></p>

              <div class="input-field">
                <button data-target="book-submit" class="btn-large waves-effect waves-dark general-btn"
                  type="submit">Submit Book</button>
              </div>
              <div id="book-submit" class="modal">
                <div class="modal-content center-align book-modal">
                  <h4>Book submitted successfully</h4>
                </div>
                <div class="modal-content center-align">
                  <a class="btn waves-effect waves-light book-modal-btn" href="{{ url_for('submit_book') }}">Add
                    Another</a>
                </div>
                <h4 class="book-error center-align"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock %}