{% extends "base.html" %}
{% block content %}
<!-- Full Catalogue of Books -->
<section class="catalogue">
  <div class="catalogue-container">
    <h1 class="center-align white-text">ReadReview Catalogue</h1>
    <ul class="collapsible popout">
      {% for book in books %}
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
          <strong>{{ book.title }}</strong>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col l2 m4">
              <img class="responsive-img" src="{{ book.image_url }}" alt="{{ book.title }}">

            </div>
            <div class="col l8 m8">
              <table>
                <thead>
                  <tr>
                    <th>{{ book.title }}</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><strong style="font-weight: bold;">Author:</strong> {{ book.author }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Genre:</strong> {{ book.genre }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Pages:</strong> {{ book.pages }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Year Published:</strong> {{ book.year }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Summary:</strong> {{ book.summary }}</td>
                  </tr>

                  <thead>
                    <tr>
                      <th>Reviews for {{ book.title }}</th>
                    </tr>
                  </thead>

                  {% for review in reviews %}
                  {% if review.title == book.title %}

                  <tr>
                    <td>
                      {{ review.review }}
                      <br>
                      <i class="submission">Submitted by {{ review.username.capitalize() }}
                        {{ review.date.strftime('%Y-%m-%d %H:%M:%S') }}</i>
                      <br>
                      {% if review.username == session['user']['username'] %}
                      <a href="" class="modify-review">Edit</a>&nbsp;<a class="modify-review modal-trigger"
                        href="#modal-{{ review._id }}">Delete</a>
                      <form name="delete_review" id="delete_review">
                        <!-- Modal Structure -->
                        <div id="modal-{{ review._id }}" class="modal center-align">
                          <div class="modal-content">
                            <h4>Delete this review?</h4>
                            <input value="{{ review.review }}" name="review" type="text" readonly="readonly">
                            <input value="{{ review.username.lower() }}" name="username" type="text" readonly="readonly">
                          </div>
                          <div class="modal-content">
                            <button class="btn waves-effect waves-light center-align" id="delete-review" type="submit"
                              name="action">Delete
                            </button>
                          </div>
                          <h4 class="delete-success center-align">Review successfully deleted</h4>
                          <h4 class="delete-error center-align"></h4>
                        </div>
                      </form>
                    {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  <tr>
                    <form name="add_review" id="review_form">
                      <thead>
                        <tr>
                          <th>Leave a review for {{ book.title }} </th>
                        </tr>
                      </thead>
                      <td>
                        <div class="row">
                          <div class="input-field">
                            <i class="material-icons prefix">book</i>
                            <input value="{{ book.title }}" name="title" type="text" readonly="readonly">
                            <label for="title">Book Title</label>
                          </div>

                        </div>
                        <div class="row">
                          <div class="input-field">

                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="review" name="review" class="materialize-textarea validate" minlength="20"
                              maxlength="150" pattern="^[a-zA-Z0-9]{20,150}$" required></textarea>
                            <label for="review">Review</label>
                            <span class="helper-text" data-error="Review must be between 20 and 150 characters"
                              data-success="Ready to go!"></span>
                          </div>

                        </div>
                        <p class="error error--hidden"></p>
                        <button data-target="modal1" type="button" id="myBtn"
                          class="btn waves-effect waves-light modal-trigger">Submit
                        </button>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                          <div class="modal-content center-align">
                            <h4>Are you sure you would like to submit?</h4>
                          </div>
                          <div class="modal-content center-align">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            <button class="btn waves-effect waves-light" id="submit-review" type="submit"
                              name="action">Submit
                            </button>
                          </div>
                          <h4 class="review-success center-align">Success! Review submitted successfully</h4>
                          <h4 class="review-error center-align"></h4>
                        </div>

                      </td>
                    </form>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
</section>

{% endblock %}