{% extends "base.html" %}
{% block content %}
<!-- Full Catalogue of Books -->
<section class="catalogue">
  <div class="catalogue-container">
    <h1 class="center-align white-text">ReadReview Catalogue</h1>
    <ul class="collapsible popout">
      {% for book in books %}
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
          <strong>{{ book.title }}</strong>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col l2 m4">
              <img class="responsive-img" src="{{ book.image_url }}" alt="{{ book.title }}">

            </div>
            <div class="col l8 m8">
              <table>
                <thead>
                  <tr>
                    {% if session['logged_in'] %}
                    {% if book.username == session['user']['username'] or session['user']['username']  == "admin" %}
                    <th>{{ book.title }} <a href="#modal-delete-{{ book._id }}" style="font-style: italic;"
                        class="modal-trigger">Delete Book</a></th>
                    <form name="delete_book">
                    <!-- Modal Structure -->
                    <div id="modal-delete-{{ book._id }}" class="modal center-align">
                      <div class="modal-content">
                        <h4>Delete this book?</h4>
                        <input value="{{ book._id }}" name="id" type="text" readonly="readonly" hidden>
                      </div>
                      <div class="modal-content">
                        <button class="btn waves-effect waves-light center-align delete book" type="submit"
                          name="action">Delete
                        </button>
                      </div>
                      <h4 class="delete-success center-align">Book successfully deleted</h4>
                      <h4 class="delete-error center-align"></h4>
                    </div>
                    </form>
                    {% else %}
                    <th>{{ book.title }}</th>
                    {% endif %}
                    {% endif %}
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td><strong style="font-weight: bold;">Author:</strong> {{ book.author }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Genre:</strong> {{ book.genre }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Pages:</strong> {{ book.pages }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Year Published:</strong> {{ book.year }}</td>
                  </tr>
                  <tr>
                    <td><strong style="font-weight: bold;">Summary:</strong> {{ book.summary }}</td>
                  </tr>
                  <thead>
                    <tr>
                      <th>Votes</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>
                      <span><i class="material-icons prefix" style="color: green;">thumb_up</i></span>
                      <span>
                        <h4 style="display: inline-block; color: green;">{{ book.upvotes }}</h4>
                      </span>
                      <span><i class="material-icons prefix" style="color: red;">thumb_down</i></span>
                      <span>
                        <h4 style="display: inline-block; color: red">{{ book.downvotes }}</h4>
                      </span>
                    </td>
                  </tr>

                  <thead>
                    <tr>
                      <th>Reviews for {{ book.title }}</th>
                    </tr>
                  </thead>

                  {% for review in reviews %}
                  {% if book.title == review.title %}



                  <tr>
                    <td>
                      {{ review.review }}
                      <br>
                      <i class="submission">Submitted by {{ review.username.capitalize() }}
                        {{ review.date.strftime('%Y-%m-%d %H:%M:%S') }} Last Edit:
                        {{ review.edited.strftime('%Y-%m-%d %H:%M:%S') }} </i>
                      <br>
                      {% if session['logged_in'] %}
                      {% if review.username == session['user']['username'] or session['user']['username']  == "admin" %}
                      <a href="#modal-ed-{{ review._id }}" class="modify-review modal-trigger">Edit</a>&nbsp;<a
                        class="modify-review modal-trigger" href="#modal-{{ review._id }}">Delete</a>
                      <form name="delete_review" id="delete_review">
                        <!-- Modal Structure -->
                        <div id="modal-{{ review._id }}" class="modal center-align">
                          <div class="modal-content">
                            <h4>Delete this review?</h4>
                            <input value="{{ review._id }}" name="id" type="text" readonly="readonly" hidden>
                          </div>
                          <div class="modal-content">
                            <button class="btn waves-effect waves-light center-align" id="delete-review" type="submit"
                              name="action">Delete
                            </button>
                          </div>
                          <h4 class="delete-success center-align">Review successfully deleted</h4>
                          <h4 class="delete-error center-align"></h4>
                        </div>
                      </form>
                      <form name="edit_review" id="edit_review">
                        <!-- Modal Structure -->
                        <div id="modal-ed-{{ review._id }}" class="modal center-align">
                          <div class="modal-content">
                            <h4>Edit this review?</h4>
                            <div class="row">
                              <div class="input-field">

                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="review-edit" name="review-edit" class="materialize-textarea validate"
                                  minlength="20" maxlength="150" pattern="^[a-zA-Z0-9]{20,150}$"
                                  required>{{ review.review }}</textarea>
                                <label for="review">Review</label>
                                <span class="helper-text" data-error="Review must be between 20 and 150 characters"
                                  data-success="Ready to go!"></span>
                              </div>

                            </div>
                            <input value="{{ review._id }}" name="id-edit" type="text" readonly="readonly" hidden>
                          </div>
                          <div class="modal-content">
                            <button class="btn waves-effect waves-light center-align" type="submit" name="action">Update
                            </button>
                          </div>
                          <h4 class="edit-success center-align">Review successfully updated</h4>
                          <h4 class="edit-error center-align"></h4>
                        </div>
                      </form>
                      {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  {% if session['logged_in'] %}
                  <tr>
                    <form name="add_review" id="review_form">
                      <thead>
                        <tr>
                          <th>Leave a review for {{ book.title }} </th>
                        </tr>
                      </thead>
                      <td>
                        <div class="row">
                          <div class="input-field">
                            <i class="material-icons prefix">book</i>
                            <input value="{{ book.title }}" name="title" type="text" readonly="readonly">
                            <label for="title">Book Title</label>
                          </div>

                        </div>
                        <div class="row">
                          <div class="input-field">

                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="review-ta-{{ book._id }}" name="review" class="materialize-textarea validate review"
                              minlength="20" maxlength="150" pattern="^[a-zA-Z0-9]{20,150}$" required="" aria-required="true" type></textarea>
                            <label for="review">Review</label>
                            <span class="helper-text" data-error="Review must be between 20 and 150 characters"
                              data-success="Ready to go!"></span>
                          </div>
                          <p>
                            <label>
                              <i class="material-icons prefix" style="color: green;">thumb_up</i>
                              <input name="group1" type="radio" value="thumb-up" checked />
                              <span>Red</span>
                            </label>
                          </p>
                          <p>
                            <label>
                              <i class="material-icons prefix" style="color: red;">thumb_down</i>
                              <input name="group1" type="radio" value="thumb-down" />
                              <span>Yellow</span>
                            </label>
                          </p>
                          <input value="{{ book._id }}" name="book-id" type="text" readonly="readonly" hidden>


                        </div>
                        <p class="error error--hidden"></p>
                        <button data-target="modal-id-{{ book._id }}" type="button" 
                          class="btn waves-effect waves-light modal-trigger submit-btn">Submit
                        </button>
                        <!-- Modal Structure -->
                        <div id="modal-id-{{ book._id }}" class="modal">
                          <div class="modal-content center-align">
                            <h4>Are you sure you would like to submit?</h4>
                          </div>
                          <div class="modal-content center-align">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            <button class="btn waves-effect waves-light submit-review" type="submit"
                              name="action">Submit
                            </button>
                          </div>
                          <h4 class="review-success center-align">Success! Review submitted successfully</h4>
                          <h4 class="review-error center-align"></h4>
                        </div>

                      </td>
                    </form>
                  </tr>
                  {% else %}
                  <tr>
                    <td><strong style="font-weight: bold;"><a href="{{ url_for('login') }}">Login</a> or <a
                          href="{{ url_for('register') }}">Register</a> to leave a review</strong></td>
                  </tr>
                  {% endif %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
</section>

{% endblock %}