{% extends "base.html" %}
{% block content %}
<!-- Full Catalogue of Books -->
<section class="catalogue">
  <div class="catalogue-container">
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header"><i class="fas fa-angle-down"></i>Brideshead Revisited</div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col l2 m4">
              <img class="responsive-img"
                src="https://www.gutenberg.org/cache/epub/65156/pg65156.cover.medium.jpg" alt="">

            </div>
            <div class="col l8 m8">
              <table>
                <thead>
                  <tr>
                    <th>Brideshead Revisited</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Year Published: 1945</td>
                  </tr>
                  <tr>
                    <td>Overview: The most nostalgic and reflective of Evelyn Waugh's novels, Brideshead Revisited looks back to the golden age before the Second World War. It tells the story of Charles Ryder's infatuation with the Marchmains and the rapidly-disappearing world of privilege they inhabit.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>

{% endblock %}