{% extends "base.html" %}
{% block content %}
<!-- Callout Section -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center main-title">Welcome to ReadReview</h1>
      <div class="row center">
        <h5 class="header col s12 light">Submit reviews on your latest reads</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="main-button"
          class="btn-large tooltipped waves-effect waves-light grey" data-position="bottom"
          data-tooltip="Our complete catalogue of books">See Catalogue</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{{ url_for('static', filename='images/bg-body-books.jpeg') }}"
      alt="Row of classical books"></div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <div class="icon-block">
          <h2 class="about-icon"><i class="fas fa-caret-down"></i></h2>
          <h5 class="about-title">About</h5>

          <p class="light center white-text">ReadReview is site designed for readers and book recommendations. Our
            mission is to
            help people discover and share books they love. If you're looking for a place to find a great book or to
            share your opinion of a book you have read, you've found the right place!</p>
          <br>
          <p class="light center white-text">This is a new site so the catalogue is still quite sparse so we encourage
            new visitors
            to this sign-up to the site and contribute to our community by updating the catalogue by adding books or by
            adding reviews to existing books.</p>
          <br>
          <p id="final-paragraph">Enough talk from us, please enjoy the site and more importantly get reading and
            reviewing!</p>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}