{% extends "base.html" %}
{% block content %}

<!-- Register Form -->
<section class="register">
  <div class="form-container">
    <div class="row">
      <form class="col s12" action="" method="post">
        <div class="container">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Enter a Username" id="username" type="username" class="validate">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Enter a Password" id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>